<.header>Get your platform ready ✨</.header>
<p class="mt-4">This small setup guide helps you create your first team and user on the platform.
  It's only run the first time the platform is started, so chose your admin charefully.</p>

<p class="mt-4">
  After this guide you will be able to create more teams and users using the platforms standard features.
</p>

<div class="flex justify-end mt-4">
  <.link href={~p"/onboarding/team"}>
    <.button>Begin</.button>
  </.link>
</div>
