<div>
  <.simple_form for={@form} phx-target={@myself} phx-submit="send">
    <.input
      name="body"
      field={@form[:body]}
      type="textarea"
      value={@body}
      placeholder={gettext("Type your message...")}
    />
    <:actions>
      <.button phx-disable-with={gettext("Sending...")}>
        <%= gettext("Send") %>
      </.button>
    </:actions>
  </.simple_form>
</div>
