<main role="main" class="container mx-auto max-w-full">
  <.flash_group flash={@flash} />
  <.menu_bar class="px-8 py-4" current_page={@menu_item} current_user={assigns.current_user}>
    <%= @inner_content %>
  </.menu_bar>
</main>
