<main role="main" class="container mx-auto max-w-full">
  <.flash_group flash={@flash} />
  <.menu_bar current_page={@menu_item}>
    <div class="w-full">
      <%= @inner_content %>
    </div>
  </.menu_bar>
</main>
