<main role="main" class="container mx-auto max-w-full">
  <div class="w-full h-screen bg-gradient-to-br from-sky-500 from-20% via-purple-500 via-75% to-pink-500 to-100% flex justify-center items-center">
    <div class="w-1/3 h-min bg-white rounded-xl drop-shadow-xl p-4">
      {@inner_content}
    </div>
  </div>
</main>
