<div class="auth-page h-full">
  <.live_component
    module={CaseManagerWeb.AuthForm}
    id={@form_id}
    form={@form}
    is_register?={@live_action == :register}
    action={@action}
    alternative={@alternative}
    alternative_path={@alternative_path}
    cta={@cta}
  />
</div>
