<div class="auth-page h-full">
  <.live_component
    module={CaseManagerWeb.AuthForm}
    id={@form_id}
    form={@form}
    is_register?={@live_action == :register}
    is_onboarding?={@live_action == :onboarding}
    action={@action}
    cta={@cta}
  />
</div>
