<div class="auth-page h-full">
  <.live_component
    module={CaseManagerWeb.CreateUserForm}
    id="first_user_form"
    form={@form}
    on_cancel={}
    on_save={JS.push("saved")}
    cta={@cta}
  />
</div>
